@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   /* font-size: 20px;*/
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
    outline-style: none;
}
body{
   /* background-color: #cdb4dd;*/
 background-color: #f0f7c7;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin: 3vw;
}
.navbar>img{
    margin-right: 1.5vw;
}
.main_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_card{
    font-size: 1.75vw;
    font-family: cursive;
    margin-left: 10%; 
    align-items: center;
    margin-top: -2%;
     
}
.main_data >img{
    width: 100%;    
    max-width: 35%;
    height: 100%;
    margin-top: -2%;
    margin-right: 6%;
}

.textinput{
  display:flex;
  flex-direction: row;
  margin-top: 3%;
}
input[type="text"]{
  text-align: center;
  height: 5%;
  border: none;
  background: transparent;
  font-size: 1.75vw;
  font-weight: 200;
  width: 313px;
  box-shadow: inset 0 -3px 0 0 #fcb670;
  
}
input[type="text"]:focus{
  outline:#fcb670;
  box-shadow: inset 0 -3px 0 0 #fcb670;
}

.add-btn{
    background-color:  #fcb670;
    color: white;
    height: 3.8vw;
    font-family: cursive;
    width:3.8vw;
    border:0;
    border-radius: 100%;
  margin-left: 5%;
  margin-top: -2%;
    font-size: 2vw;
    cursor:pointer;
    }

/* CARD---------------*/
form .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
   flex-direction: row;
    flex-wrap: wrap;
  }
  /*.cards-list>div{
    flex-basis: calc(50% - 40px);  
    flex-direction: column;
  }*/
  
  .card{
  /*margin: 50px auto;*/
  /* margin: 50px 77px 50px 77px;*/
  
  margin:4% 1.6% 4% 1.6%;
    width: auto;
   height: auto;
    background-color: transparent;
    border: 0px;
    background-color:aqua;
    border-color: #1C3FAA;
    border-radius: 40px;
  /*box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);*/
    cursor: pointer;
    transition: 0.4s;
    background: linear-gradient(to bottom, #b98bd7 0%, #61fdd6 100%);
  }
  
  .card .card_title1 {
   
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: 200;
    font-size:1.75vw;
    height: auto;
    width:auto;
    margin: 10% 5% 0% 7%;
    font-family: cursive;
 
  }
  .card_title1 h2{
    margin-bottom: 0.5vw;
  }
  ul{

    color: white;
    font-family: serif;
padding-left: 29%;
  }
  li span {
    position: relative;
    left: -30px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
 
  
  @media only screen and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      flex-wrap: nowrap;
      height: max-content;
      width: 50%;
      margin: 10%;
    }
    .card{
      width:50%;
      margin: 15%;
      margin-top: 2%;
      margin-bottom: 1%;
    }
    .card .card_title {
      font-size:5vw;
    }
  }

